<html>
  <head>
    <title>Richards Page</title>
  </head>
  <body>
    <%- titulo %>
    <meter value=<%=nivel%> max=<%=max%> min=<%=min%>></meter>

    <%- include('../partials/footer'); %>
  </body>
</html>